@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf)
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf)
}

@font-face {
    font-family: OpenSans-Light;
    src: url(../fonts/OpenSans-Light.ttf)
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf)
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf)
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url(../fonts/OpenSans-Semibold.ttf)
}

* {
    margin: 0;
    box-sizing: border-box
}

body {
    font-size: 15px;
    line-height: 1.4;
    font-weight: 400;
    color: #989898;
    font-family: OpenSans-Regular, sans-serif
}

.container:after,
.container:before {
    clear: both;
    display: block;
    content: ""
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

a {
    text-decoration: none;
    color: #989898;
    transition: all .3s
}

a:hover {
    text-decoration: none;
    color: #f2c323
}

img {
    max-width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    line-height: 1.5;
    font-family: OpenSans-ExtraBold, sans-serif
}

h1 {
    font-size: 47px
}

h2 {
    font-size: 39px
}

h3 {
    font-size: 35px
}

h4 {
    font-size: 30px
}

h5 {
    font-size: 25px
}

h4 {
    font-size: 19px
}

header {
    width: 100%;
    padding: 26px 0 20px;
    float: left;
    background: #000
}

.logo img {
    max-width: 192px
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px
}

.logo img {
    max-width: 192px
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 30px
}

.logo {
    float: left;
    max-width: 320px;
    position: relative;
    font-size: 24px
}

.logo>a {
    color: #fff
}

.custom-menu {
    float: right;
    width: calc(100% - 320px)
}

.custom-menu>ul {
    float: right;
    display: flex
}

.custom-menu>ul>li {
    float: left;
    padding: 0 15px;
    color: #fff
}

.custom-menu>ul>li>a {
    color: #fff;
    position: relative;
    font-size: 16px
}

li.dropdown svg {
    font-size: 22px
}

.custom-menu>ul>li>a:hover {
    color: #f2c323
}

div#headerslider {
    float: left;
    width: 100%
}

#owl-demo .item {
    margin: 3px
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto
}

#headersliderl button.owl-dot {
    background: rgba(255, 255, 255, .8);
    padding: 6px;
    margin: 0 10px;
    border-radius: 100%
}

#headerslider .owl-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center
}

.body-container-wrapper {
    float: left;
    width: 100%;
    padding: 30px 0 0
}

.body-container-wrapper .item {
    background-color: #e6e6e6;
    border-radius: 30px;
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer
}

.item.fist>div {
    width: 50%
}

.item-image {
    background: url(../images/breakefast.png);
    min-height: 350px;
    background-position: left center;
    border-radius: 30px 0 0 30px;
    background-size: cover!important;
    transition: all .5s
}

.item-content {
    padding: 0 30px;
    color: #b5b5b5;
    transition: all .5s
}

.item-content h1,
.item-content h3 {
    margin: 0;
    line-height: 1
}

.item:hover .item-image {
    transform: scale(1.2, 1.2)
}

.hidden {
    overflow: hidden
}

.item:hover .item-content {
    color: #000
}

div#slide-item {
    float: left;
    width: 100%
}

.footer-top {
    background: #e0e0e0;
    padding: 30px 0;
    float: left;
    width: 100%
}

footer {
    float: left;
    width: 100%;
    padding: 15px 0 0
}

.footer-top>.container>ul {
    background: #e0e0e0;
    padding: 30px 0;
    float: left
}

.footer-menu {
    float: left;
    width: 75%
}

.footer-subscribe {
    float: right;
    width: 30%
}

.footer-menu {
    float: left;
    width: 75%
}

.footer-subscribe {
    float: right;
    width: 25%;
    border-left: 1px solid #fff;
    padding: 0 0 0 15px
}

.footer-menu>ul {
    display: flex;
    justify-content: space-around
}

div#slide-item img {
    max-width: 150px;
    margin: 0 auto
}

.footer-bottom {
    text-align: center;
    float: left;
    width: 100%;
    padding: 30px 0 20px
}

.footer-links>ul {
    display: flex;
    justify-content: center;
    padding: 0 0 16px 0
}

.footer-links>ul>li {
    padding: 0 10px
}

.mastercard img {
    max-width: 200px
}

.mastercard {
    padding: 21px 0 0 0
}

.footer-links {
    color: #b1b1b1
}

.footer-links>ul>li>a {
    transition: all .3s
}

.footer-menu>ul>li>p {
    font-family: OpenSans-ExtraBold;
    padding: 0 0 5px 0
}

.footer-menu>ul>li>ul>li {
    padding: 0 0 5px 0
}

.formhead {
    font-family: OpenSans-ExtraBold;
    padding: 0 0 10px 0
}

form#footerform {
    padding: 10px 0;
    font-family: OpenSans-Regular, sans-serif
}

form#footerform input[type=email] {
    border: 1px solid #a2a2a2;
    padding: 5px;
    background: #e0e0e0;
    transition: all .3s;
    outline: 0;
    font-family: OpenSans-Regular, sans-serif;
    margin: 0 0 10px
}

form#footerform input[type=email]:focus {
    background: #fff;
    border-color: #fff
}

form#footerform input[type=submit] {
    background: #fff;
    border: none;
    padding: 5px;
    display: inline-block;
    margin: 0 0 0 -3px;
    color: #000;
    cursor: pointer;
    border: 1px solid #fff;
    transition: all .3s;
    font-family: OpenSans-Regular, sans-serif
}

form#footerform input[type=submit]:hover {
    background: #e0e0e0;
    border-color: transparent
}

.slide-name {
    background: #eaeaea;
    padding: 20px;
    border-radius: 20px;
    margin: 0 10px;
    color: #191919;
    min-height: 430px;
    cursor: pointer;
    transition: all .3s
}

div#slide-item {
    padding: 30px 0
}

.custom-checkbox {
    color: #000;
    padding: 0 0 15px 0
}

input#addto {
    border: 1px solid #191919;
    color: #191919
}

label.addlabel {
    color: #191919;
    padding-left: 10px
}

.item-descr {
    padding: 12px 0
}

.item-heading {
    font-family: OpenSans-Bold;
    padding: 0 0 3px 0
}

.custom-rating svg {
    color: #f5ca35
}

.no-rate {
    color: #c5c5c5!important
}

.item-price {
    padding: 3px 0
}

span.act-price {
    color: #e60d2e;
    padding: 0 0 0 5px;
    font-family: OpenSans-Bold
}

button#addto-cart {
    background: #2c2c2c;
    padding: 9px 8px;
    border: 1px solid #2c2c2c;
    color: #ededed;
    width: 100%;
    max-width: 150px;
    margin: 16px auto 0;
    display: block;
    cursor: pointer;
    transition: all .3s;
    opacity: .8
}

.slide-name:hover button#addto-cart,
button#addto-cart:hover {
    box-shadow: 4px 8px 4px 2px #ccc;
    opacity: 1
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: 2px solid #333
}

.container-chekbox {
    position: relative;
    top: 4px
}

.container-chekbox .checkmark:after {
    content: "";
    position: absolute;
    display: none
}

.container-chekbox .checkmark:after {
    left: 3px;
    top: 1px;
    width: 2px;
    height: 5px;
    border: solid #333;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.container-chekbox input:checked~.checkmark:after {
    display: block
}

button {
    display: inline-block;
    cursor: pointer;
    transition: all .3s;
    border: none;
    outline: 0;
    padding: 5px
}

.view-allbtn {
    background: #de0c2c;
    color: #fff;
    float: right;
    position: relative;
    z-index: 99999;
    padding: 8px 34px
}

.view-all {
    padding: 0 10px;
    float: left;
    width: 100%;
    position: relative;
    margin: 20px 0 0
}

.view-allbtn:hover {
    box-shadow: 4px 8px 4px 2px #ccc
}

.view-allbtn:hover {
    opacity: 1
}

p.line {
    height: 1px;
    background: #ccc;
    position: absolute;
    left: 10px;
    width: 89%;
    top: 15px
}

.slideimage {
    min-height: 200px
}

.slideimage.item4 img {
    max-width: 115px!important
}

.slideimage.item1 img {
    max-width: 126px!important
}

.artbanner {
    background: url(../images/artbanner.png);
    min-height: 400px;
    background-size: cover;
    background-position: center center;
    float: left;
    width: 100%;
    position: relative
}

.artcontent {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 20px;
    text-align: center;
    color: #fff
}

div#slide-item .owl-carousel .owl-nav {
    font-size: 38px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: block!important
}

div#slide-item .owl-carousel .owl-nav button {
    position: absolute;
    left: -15px;
    outline: 0
}

div#slide-item .owl-carousel .owl-nav button.owl-next {
    right: -15px;
    left: auto
}

.artcontent a {
    color: #fff
}

span.divider {
    padding: 0 20px
}

.artcontent a:hover {
    color: #f2c323
}

.foodpre {
    float: left;
    width: 100%;
    margin: 30px 0 0 0
}

.imagright {
    flex-direction: row-reverse!important
}

.foodpre .hidden {
    width: 70%!important
}

.imagright .item-image {
    border-radius: 0 30px 30px 0;
    background-position: top 44% right 0!important
}

.foodpre .item-image {
    background: url(../images/foodPre.png)
}

.cookingimg .item-image {
    background: url(../images/appliances.png);
    background-position: left -46px
}

.iconic-banner {
    float: left;
    width: 100%;
    margin: 30px 0 0 0;
    background: #000;
    min-height: 340px;
    display: table
}

.iconicimage {
    position: absolute;
    min-height: 513px;
    background: url(../images/cup1.png);
    left: 0;
    top: 84px;
    width: 100%;
    z-index: 9;
    max-width: 700px;
    margin: 0 auto;
    background-size: 100% auto;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center!important;
    bottom: 0
}

.iconic-banner>div {
    display: table-cell;
    vertical-align: middle
}

.iconic-wrapper {
    position: relative;
    float: left;
    width: 100%;
    padding: 210px 0 16px 0;
    overflow: hidden
}

.iconi-center {
    margin-right: -300px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0
}

.iconic-wrapper {
    position: relative;
    float: left;
    width: 100%;
    padding: 210px 0 16px 0;
    overflow: hidden;
    margin-top: -100px
}

.iconi-center {
    margin-right: -300px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0
}

.iconic-content h1 {
    font-size: 70px;
    text-align: center
}

.iconic-content h1 span.icon {
    position: relative
}

.iconic-content h1 span.range {
    position: relative;
    z-index: 99
}

.iconic-content h1>span {
    width: 50%;
    float: left
}

span.icon {
    text-align: right;
    padding-right: 160px
}

span.range {
    text-align: left;
    padding: 0
}

.iconic-extracont {
    float: left;
    width: 100%;
    max-width: 497px;
    position: relative;
    z-index: 99;
    padding-left: 235px
}

button.view-allbtn.more {
    float: none;
    margin: 10px 0
}

button.view-allbtn.more:hover {
    box-shadow: 4px 8px 4px 2px #1c0808
}

.homesolutionimg .item-image {
    background: url(../images/homesolution.png);
    background-position: right 0 top -155px!important
}

.homesolution {
    float: left;
    width: 100%;
    padding: 30px 0
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #de0c2c
}

div#mobile-trigger {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    transition: all .3s
}

div#mobile-trigger:hover {
    color: #fff
}

div#banner-content {
    color: #fff;
    position: absolute;
    left: 19%;
    top: 38px
}

.slide-item {
    position: relative
}

div#banner-content h3 {
    text-transform: uppercase;
    font-size: 2.5vw;
    font-family: OpenSans-Light, sans-serif;
    margin: 10px 0 5px
}

div#banner-content button {
    background: #313131;
    padding: 8px 16px;
    color: #fff;
    font-family: OpenSans-Semibold, sans-serif;
    font-size: 15px
}

div#banner-content p {
    text-align: right
}

div#banner-content button:hover {
    background: #de0c2c
}

.power {
    color: #c9c9c9;
    font-family: OpenSans-ExtraBold, sans-serif
}

.menu-close-icon {
    display: none
}

.menu-open .menu-open-icon {
    display: none
}

.menu-open .menu-close-icon {
    display: block
}

div#slide-item .owl-carousel .owl-nav button:hover {
    color: #000
}

@media(max-width:991px) {
    .footer-links>ul {
        display: block
    }
    .footer-links>ul>li {
        padding: 0 0 12px 0
    }
    .footer-menu>ul {
        display: block
    }
    .footer-menu {
        float: none;
        width: 100%
    }
    .footer-menu>ul>li {
        padding: 0 0 15px 0
    }
    .footer-subscribe {
        float: none;
        border: none;
        width: 100%;
        padding: 0
    }
    .footer-bottom {
        text-align: left
    }
    .iconic-extracont {
        padding-left: 52px
    }
}

@media(max-width:767px) {
    .logo {
        width: 100%;
        float: left;
        max-width: 100%
    }
    .iconic-wrapper {
        margin-top: -173px
    }
    .container {
        padding: 0 15px
    }
    .cookingimg .item-image {
        background-position: center center!important
    }
    .custom-menu {
        float: left;
        width: 100%;
        padding: 20px 0;
        display: none
    }
    .custom-menu>ul {
        float: none;
        display: block
    }
    .custom-menu>ul>li {
        display: block;
        float: none;
        padding: 0 0 13px 0;
        position: relative
    }
    .hidden {
        width: 100%
    }
    .item.fist>div {
        width: 100%!important;
        float: none
    }
    .body-container-wrapper .item {
        display: block
    }
    div#slide-item .owl-carousel .owl-nav button.owl-next {
        right: -10px
    }
    div#slide-item .owl-carousel .owl-nav button {
        left: -10px
    }
    .item-image {
        border-radius: 0
    }
    .item-content {
        border-radius: 0
    }
    .body-container-wrapper .item {
        border-radius: 0
    }
    .item-content {
        padding: 15px
    }
    .imagright .item-image {
        border-radius: 0
    }
    .iconicimage {
        max-width: 505px;
        top: 128px
    }
    .iconic-extracont {
        padding-left: 0
    }
    .iconic-content h1 {
        font-size: 50px
    }
    .slide-name {
        min-height: 100%
    }
    .slideimage {
        min-height: 100%
    }
    h1 {
        font-size: 38px
    }
    h3 {
        font-size: 28px
    }
    div#banner-content button {
        font-size: 12px
    }
}

@media(max-width:500px) {
    .iconicimage {
        max-width: 505px;
        top: 128px
    }
    .iconic-content h1 {
        font-size: 30px
    }
    .iconicimage {
        max-width: 457px;
        top: 128px
    }
    .iconi-center {
        margin-right: -260px
    }
}

@media(max-width:479px) {
    .iconicimage {
        max-width: 320px;
        top: 119px
    }
    .iconi-center {
        margin-right: -132px
    }
    .iconic-content h1 {
        font-size: 22px
    }
    span.icon {
        padding-right: 100px
    }
}

@media (max-width:320px) {
    .iconicimage {
        max-width: 281px;
        top: 119px
    }
    .iconic-content h1 {
        font-size: 18px
    }
}

@media(min-width:768px) {
    #mobile-trigger {
        display: none
    }
    .custom-menu {
        display: block!important
    }
}